


#map {
    
    height: 100vh; 
    z-index: 2;

}


#display {


    z-index: 10;


}

#container-display {


    position: absolute; 
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: red;
    z-index: 9;

}